# Based on Stylix
theme[main_bg]="{{ theme_data.colors.base00 }}"
theme[main_fg]="{{ theme_data.colors.base05 }}"
theme[title]="{{ theme_data.colors.base05 }}"
theme[hi_fg]="{{ theme_data.colors.base0D }}"
theme[selected_bg]="{{ theme_data.colors.base03 }}"
theme[selected_fg]="{{ theme_data.colors.base0D }}"
theme[inactive_fg]="{{ theme_data.colors.base04 }}"
theme[graph_text]="{{ theme_data.colors.base06 }}"
theme[meter_bg]="{{ theme_data.colors.base03 }}"
theme[proc_misc]="{{ theme_data.colors.base06 }}"
theme[cpu_box]="{{ theme_data.colors.base0E }}"
theme[mem_box]="{{ theme_data.colors.base0B }}"
theme[net_box]="{{ theme_data.colors.base0C }}"
theme[proc_box]="{{ theme_data.colors.base0D }}"
theme[div_line]="{{ theme_data.colors.base01 }}"
theme[temp_start]="{{ theme_data.colors.base0B }}"
theme[temp_mid]="{{ theme_data.colors.base0A }}"
theme[temp_end]="{{ theme_data.colors.base08 }}"
theme[cpu_start]="{{ theme_data.colors.base0B }}"
theme[cpu_mid]="{{ theme_data.colors.base0A }}"
theme[cpu_end]="{{ theme_data.colors.base08 }}"
theme[free_start]="{{ theme_data.colors.base0A }}"
theme[free_mid]="{{ theme_data.colors.base0B }}"
theme[free_end]="{{ theme_data.colors.base0B }}"
theme[cached_start]="{{ theme_data.colors.base0C }}"
theme[cached_mid]="{{ theme_data.colors.base0C }}"
theme[cached_end]="{{ theme_data.colors.base0A }}"
theme[available_start]="{{ theme_data.colors.base08 }}"
theme[available_mid]="{{ theme_data.colors.base0A }}"
theme[available_end]="{{ theme_data.colors.base0B }}"
theme[used_start]="{{ theme_data.colors.base0A }}"
theme[used_mid]="{{ theme_data.colors.base09 }}"
theme[used_end]="{{ theme_data.colors.base08 }}"
theme[download_start]="{{ theme_data.colors.base0B }}"
theme[download_mid]="{{ theme_data.colors.base0A }}"
theme[download_end]="{{ theme_data.colors.base08 }}"
theme[upload_start]="{{ theme_data.colors.base0B }}"
theme[upload_mid]="{{ theme_data.colors.base0A }}"
theme[upload_end]="{{ theme_data.colors.base08 }}"
theme[process_start]="{{ theme_data.colors.base0B }}"
theme[process_mid]="{{ theme_data.colors.base0A }}"
theme[process_end]="{{ theme_data.colors.base08 }}"
