# See https://sw.kovidgoyal.net/kitty/conf.html
font_family {{ theme_data.font.style.mono }}
font_size {{ theme_data.font.size.terminal }}

background_opacity 1.000000

include {{ kitty_source_dir }}/theme.conf
