k9s:
  body:
    bgColor: default
    fgColor: '{{ theme_data.colors.base05 }}'
    logoColor: '{{ theme_data.colors.base0C }}'
  dialog:
    bgColor: '{{ theme_data.colors.base01 }}'
    buttonBgColor: '{{ theme_data.colors.base02 }}'
    buttonFgColor: '{{ theme_data.colors.base05 }}'
    buttonFocusBgColor: '{{ theme_data.colors.base0B }}'
    buttonFocusFgColor: '{{ theme_data.colors.base00 }}'
    fgColor: '{{ theme_data.colors.base05 }}'
    fieldFgColor: '{{ theme_data.colors.base05 }}'
    labelFgColor: '{{ theme_data.colors.base0A }}'
  frame:
    border:
      fgColor: '{{ theme_data.colors.base02 }}'
      focusColor: '{{ theme_data.colors.base01 }}'
    crumbs:
      activeColor: '{{ theme_data.colors.base02 }}'
      bgColor: '{{ theme_data.colors.base01 }}'
      fgColor: '{{ theme_data.colors.base05 }}'
    menu:
      fgColor: '{{ theme_data.colors.base05 }}'
      keyColor: '{{ theme_data.colors.base0B }}'
      numKeyColor: '{{ theme_data.colors.base0B }}'
    status:
      addColor: '{{ theme_data.colors.base0B }}'
      completedColor: '{{ theme_data.colors.base03 }}'
      errorColor: '{{ theme_data.colors.base08 }}'
      highlightcolor: '{{ theme_data.colors.base0A }}'
      killColor: '{{ theme_data.colors.base03 }}'
      modifyColor: '{{ theme_data.colors.base09 }}'
      newColor: '{{ theme_data.colors.base0C }}'
    title:
      bgColor: '{{ theme_data.colors.base01 }}'
      counterColor: '{{ theme_data.colors.base0C }}'
      fgColor: '{{ theme_data.colors.base05 }}'
      filterColor: '{{ theme_data.colors.base0B }}'
      highlightColor: '{{ theme_data.colors.base0A }}'
  info:
    fgColor: '{{ theme_data.colors.base0B }}'
    sectionColor: '{{ theme_data.colors.base05 }}'
  prompt:
    bgColor: default
    fgColor: '{{ theme_data.colors.base05 }}'
    suggestColor: '{{ theme_data.colors.base02 }}'
  views:
    charts:
      bgColor: default
      defaultChartColors:
      - '{{ theme_data.colors.base0C }}'
      - '{{ theme_data.colors.base0D }}'
      defaultDialColors:
      - '{{ theme_data.colors.base0C }}'
      - '{{ theme_data.colors.base0D }}'
    help:
      bgColor: default
      fgColor: '{{ theme_data.colors.base05 }}'
      indicator:
        fgColor: '{{ theme_data.colors.base0D }}'
    logs:
      bgColor: default
      fgColor: '{{ theme_data.colors.base05 }}'
      indicator:
        bgColor: default
        fgColor: '{{ theme_data.colors.base05 }}'
        toggleOffColor: '{{ theme_data.colors.base04 }}'
        toggleOnColor: '{{ theme_data.colors.base0B }}'
    table:
      bgColor: default
      fgColor: '{{ theme_data.colors.base05 }}'
      header:
        bgColor: default
        fgColor: '{{ theme_data.colors.base05 }}'
        sorterColor: '{{ theme_data.colors.base08 }}'
    xray:
      bgColor: default
      cursorColor: '{{ theme_data.colors.base01 }}'
      fgColor: '{{ theme_data.colors.base05 }}'
      graphicColor: '{{ theme_data.colors.base0C }}'
      showIcons: false
    yaml:
      colonColor: '{{ theme_data.colors.base05 }}'
      keyColor: '{{ theme_data.colors.base08 }}'
      valueColor: '{{ theme_data.colors.base0B }}'
